<div ng-app="app">
  <div ng-controller="employeeCtrl" ng-init="setup()">
    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
      <tr ng-repeat="employee in employees">
        <td>{{employee.first_name}}</td>
        <td>{{employee.last_name}}</td>
      </tr>
    </table>
    
  </div>
</div>